body {
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.contact p {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
}

.contact .social-icon {
    max-height: 24px;
    vertical-align: bottom;
}

.itens-container article {
    border-top: 1px solid #DADADA;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 13px;
}

.itens-container article header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.itens-container article img {
    max-height: 250px;
    margin-left: 5px;
    transition: -webkit-transform 0.25s ease;
}
.itens-container article img.zoomed {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
}

.itens-container article div {
    margin-top: 5px;
    vertical-align: top;
}

.itens-container article .availability {
    margin-top: 10px;
    font-size: 14px;
    color: darkblue;
}

.itens-container article footer {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #dc143f;
}

@media screen and (min-width: 1081px) {
    body {
        margin: 0 200px;
    }
}

@media screen and (max-width: 1080px) {
    .itens-container article img {
        max-width: 95%;
    }
}
